extends layout

block content
    .col
        .row.navigation
            ul
                each item in navigation
                    li
                        a(href=item.link)
                            |#{item.text}
        .row
            .list
                if paths.lvlUp
                    a(href=`${paths.lvlUp}`)
                        .item.folder
                            .title ...
                if ls.length
                    each item, index in ls
                        if (item.type === 'folder')
                            a(href=`${paths.rel}${item.url}`)
                                .item.folder(id = item.numberOfThisExt)
                                    .title #{item.name}
                        if (item.type === 'file' && item.ext === 'mp3')
                            .item.audio
                                .title #{item.name}
                                audio(id = item.numberOfThisExt)(controls='controls')
                                    source(src=`/content${paths.rel}${item.name}` type='audio/mpeg')
                        if (item.type === 'file' && (item.ext === 'jpg' || item.ext === 'png'))
                            .item.image
                                .title #{item.name}
                                img(id = item.numberOfThisExt, src=`/content${paths.rel}${item.name}`)
                else
                    h3 Fuck! Nothing in this folder :(
                include debug
